.calendar {
    border-collapse: collapse;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 70%;
    text-align: center;
}

.calendar td {
    border: 1px solid black;
    padding: 10px;
}

.calendar td:first-child {
    color: red;
}

.calendar td:last-child {
    color: blue;
}

.calendar th {
    background-color: #ccc;
    padding: 10px;
}

.calendar .prev-month,
.calendar .next-month {
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    background-color: #ccc;
}